* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: aqua !important;
}

#tablero {
  padding: 16px 40px;
  position: relative;
  background: aquamarine;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.columna-juego {
  padding: 0 2px !important;
}

.cuadro {
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  background: rgb(179, 69, 69);
  font-size: 3.5em;
  cursor: pointer;
}

.reset {
  padding: 12px 20px;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.disabled {
  pointer-events: none;
  background: white;
}

@media (max-width: 768px) {
  .cuadro {
    width: 90px;
    height: 90px;
  }

  .reset {
    font-size: 1em;
    padding: 8px 12px;
  }
}
