* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    #6922c0,
    rgba(147, 21, 158, 0.932)
  ) !important;
}

#tablero {
  padding: 16px 40px;
  background: white;
  border-radius: 6px;
  margin: 16px;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.336);
}

.titulo {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.columna-juego {
  padding: 0 2px !important;
}

.cuadro {
  margin: 2px 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background: #7918f2;
  font-size: 3.5em;
  cursor: pointer;
}

.estadisticas {
  font-weight: 600;
}

.boton-reset {
  color: #7918f2;
  border: 2px solid #7918f2;
  width: 120px;
  padding: 8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  border-radius: 6px;
}

.boton-reset:hover {
  background-color: #7918f2;
  color: white;
}

.disabled {
  pointer-events: none;
  background: rgb(255, 255, 255);
  box-shadow: 2px 1px 8px gray;
}

.contenedor-perdedor,
.contenedor-ganador {
  padding: 16px 40px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.336);
}

#fracaso,
#felicidades {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-align: center;
  margin: 50px 0;
}

.reset {
  display: flex;
  gap: 8px;
  margin: 50px auto;
  padding: 8px;
  letter-spacing: 0.1em;
  color: #7918f2;
  border: 2px solid #7918f2;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  border-radius: 6px;
}

.reset:hover {
  background-color: #7918f2;
  color: white;
}

.icon {
  margin-top: 4px;
}

@media (max-width: 768px) {
  .cuadro {
    height: 90px;
    width: 90px;
  }
}
